:root {
    --darkbisque: #432818;
    --darkburly: #99582a;
    --darkspecialtext: #ffe6a7;
}
* {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: bisque;
}
body.dark {
    background-color: var(--darkbisque);
    nav {
        background-color: var(--darkburly);
    }
    nav a, .adivinhar, .reiniciar, #dark {
        color: var(--darkspecialtext);
    }
    nav a:hover, .adivinhar:hover, .reiniciar:hover, #dark:hover {
       background-color: burlywood;
       color: var(--darkburly);
    }
    .popup {
        background-color: var(--darkburly);
        color: var(--darkspecialtext);
        box-shadow: 0px 0.25rem 0.5rem var(--darkbisque);
    }
    .letra {
        background-color: black;
        color: white;
    }
    .letra:disabled {
        background-color: var(--darkburly);
    }
    /* usando :disabled aqui pra bater a especificidade CSS do .letra:disabled acima */
    .letra_verde:disabled { 
        color: white;
        background-color: green;
    }
    .letra_amarela:disabled {
        color: white;
        background-color:goldenrod;
    }
    .letra_cinza:disabled {
        color: white;
        background-color: gray;
    }
    h2, h3, li, p, a {
        color: var(--darkspecialtext);
    }
}
.nowrap {
    text-wrap: nowrap;
}
nav {
    padding: 20px;
    margin-bottom: 2rem;
    background-color: burlywood;
    box-shadow: 0px 0.25rem 0.75rem;
}
nav a, .adivinhar, .reiniciar, #dark {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
    color: #654321;
    padding: 2rem;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover, .adivinhar:hover, .reiniciar:hover, #dark:hover {
    background-color: #654321;
    color: burlywood;
    transition: background-color 400ms, color 300ms;
}
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    background-color: burlywood;
    color: #654321;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 99;
    box-shadow: 0px 0.25rem 0.5rem;
    animation: fade 3s ease-in-out;
}
.adivinhar, .reiniciar {
    font-size: 2rem;
    cursor: pointer;
}
.palpite form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}
.letra {
    font-size: 5rem;
    width: 5rem;
    border: 0px;
}
.letra_verde {
    color: white;
    background-color: green;
}
.letra_amarela {
    color: white;
    background-color:goldenrod;
}
.letra_cinza {
    color: white;
    background-color: gray;
}
footer {
    margin-top: 2rem;
    font-size: 1.5rem;
}
@keyframes fade {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
